<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700&subset=latin-ext' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css" type="text/css">

  <title>Haettua hyvää tekoa ei löytynyt</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WD5728" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WD5728');
  </script>
  <!-- End Google Tag Manager -->

  <i class="fa fa-heart-o fa-huge"></i>
  <p>Haettua hyvää tekoa ei löytynyt. Ehkä juuri sinä voisit tehdä sen?</p>
</body>
</html>