<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=latin-ext' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "style.css" | relURL }}" type="text/css">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick-theme.css"/>


  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Site.Title }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WD5728" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WD5728');
  </script>
  <!-- End Google Tag Manager -->

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
        lazyLoad: 'ondemand',
        autoplay: true,
        autoplaySpeed: 8000,
        dots: true,
        pauseOnHover: true,
        pauseOnDotsHover: true
      });
    });
  </script>

  <div class="header">
    <h1>Tehdään se tänään</h1>
    <p>Yritykset ihmisen tukena</p>

    <i class="fa fa-heart-o fa-huge"></i>
  </div>

  <div class="content">
    <p>
      Tavoitteenamme on haastaa kotimaiset yritykset suorittamaan yhdessä 100 hyvää tekoa vuoden 2015 loppuun mennessä.
      Yhdessä tekemisen kautta saavutamme positiivisen aallon julkiseen keskusteluun ja onnistumme lopulta ihmisinä auttamaan ihmisiä.
    </p>
    <p>
      <span class="hilight">Tee hyvää!</span> Ilmoittaudu auttamaan, niin listaamme yrityksesi, osastosi tai tiimisi haasteen kumppanilistalle.
      Otamme tämän jälkeen sinuun yhteyttä.
    </p>
    <div class="focus-input">
      <iframe name="iframe_zwjvmydk" id="iframe_zwjvmydk" style="display:none;" onload="if(typeof sent_zwjvmydk!='undefined'){window.location='';}"></iframe>
      <form
        action="https://docs.google.com/forms/d/18FkwsFFU8eEgxZiB_3aWhHKxZY7hNrc1qN0jxUjOAhk/formResponse"
        method="POST"
        target="iframe_zwjvmydk"
        onsubmit="sent_zwjvmydk=true">
        <input type="email"
               name="entry.80944867"
               placeholder="Sähköpostiosoite"
               required>
        <input type="submit" value="Osallistu">
      </form>
    </div>
    <p>
      <span class="hilight">Kerro tarina!</span> Kertokaa myös teon tarina kuvakerronnan voimin niin julkaisemme ne täällä:
      <a class="content" href="mailto:info@tehdaansetanaan.fi?Subject=Tehdään se tänään" target="mailto">info@tehdaansetanaan.fi</a>
    </p>
    <p>
      <span class="hilight">Puhutaan yhdessä!</span> Yhdessä somettaminen kaikissa kanavissa on luvallista ja erittäin suotavaa. Mikä on tulevaisuudessa
      yritysten rooli yhteiskunnallisessa auttamisessa ja miten oman ydintoiminta tai auttamisen into voitaisiin hyödyntää tehokkaasti?
    </p>
    <p>
      <span class="hilight">Haasta kumppanisi!</span> Voit haastaa kumppanisi tai muuten tuntemasi yrityksen mukaan, kun otat haasteen
      vastaan! Autamme myös julkisesti kumppanisi haastamisessa.
    </p>
    <p>
      <span class="hilight"><a href="mailto:info@tehdaansetanaan.fi?Subject=Tehdään se tänään" target="mailto">Kirjoita meille!</a></span> Voit myös auttaa tämän haasteen läpiviennissä ja toteuttamisessa vapaaehtoisesti.  Kirjoita meille ja kerro
      miten voisit auttaa itse haastetta ja sen onnistumista: <a href="mailto:info@tehdaansetanaan.fi?Subject=Tehdään se tänään" target="mailto">info@tehdaansetanaan.fi</a>
    </p>
    <p>
      Teot voivat olla isoja tai pieniä ja ne voivat kohdistua mihin tahansa kohderyhmään tai kohteeseen. Haaste on myös täysin
      toimialariippumaton ja tehokkainta on hyödyntää omaa ydinosaamistaan, valjastamalla se tekemään hyvää.
    </p>
    <p>
      Olemme saaneet jo pienen ydinjoukon innostumaan aiheesta ja digitaalisen toteutuksen edetessä lisäämme heidät kumppanilistaan.
      Ilmoittaudu kumppaniksi, niin lisäämme myös Sinun yrityksesi listalle.
    </p>
    <p>
      Haaste itsessään ei kerää rahaa, eikä tarjoa loppuhuipennusta auttajille. Pidetään auttaminen keskiössä, innostutaan siitä
      ja hymyillään kun avuntarvitsija kohtaa auttajan, Sinut!
    </p>


    {{ if (ge (where .Site.Pages "Section" "done" | len) 2) }}
      <div class="section">
        <h2>Jo tehtynä</h2>
        <div class="carousel">
          {{ range where .Data.Pages "Section" "done" }}
            <div class="carousel-item deed">
              <a href="{{ .RelPermalink }}">
                {{ range first 1 .Params.images }}
                  <img data-lazy="{{ . }} ">
                {{ end }}
                <div class="company on-image clip">{{ .Params.company.name }} </div>
                <div class="summary on-image clip">{{ .Summary }}</div>
                </a>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{ if (gt (where .Site.Pages "Section" "partners" | len) 0) }}
      <div class="partners">
        <h2>Mukana auttamassa</h2>

        {{ range where .Data.Pages "Section" "partners" }}
          <div class="partner">
            <a href="{{ .Params.homepage }}">
              <img src="{{ .Params.logo | relURL }}">
              <div class="name">{{ .Params.name }}</div>
              <div class="description">{{ .Params.desc }}</div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>

  <div class="footer">
    <p>Tehdään se tänään
      <a href="https://www.facebook.com/TehdaanSeTanaan"><i class="fa fa-facebook social"></i></a>
      <a href="https://twitter.com/TehdaanSeTanaan"><i class="fa fa-twitter social"></i></a>
    </p>
    <p>#TehdäänSeTänään #PieniaTekoja</p>
    <p class="poweredby">Powered by <a href="https://solinor.fi">Solinor</a></p>
  </div>

</body>
</html>
