<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin-ext' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>TEHDÄÄN SE TÄNÄÄN</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WD5728" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WD5728');
  </script>
  <!-- End Google Tag Manager -->

  <div class="header">
    <h1>Tehdään se tänään</h1>
    <p>Yritykset ihmisen tukena</p>

    <i class="fa fa-heart-o fa-huge"></i>
  </div>

  <div class="content">
    <p>
      Tavoitteenamme on haastaa kotimaiset yritykset suorittamaan yhdessä 100 hyvää tekoa vuoden 2015 loppuun mennessä.
      Yhdessä tekemisen kautta saavutamme positiivisen aallon julkiseen keskusteluun ja onnistumme lopulta ihmisinä auttamaan ihmisiä.
    </p>
    <p>
      <span class="hilight">Tee hyvää!</span> Ilmoittaudu auttamaan, niin listaamme yrityksesi, osastosi tai tiimisi haasteen kumppanilistalle.
      Otamme tämän jälkeen sinuun yhteyttä.
    </p>
    <div class="focus-input">
      <iframe name="iframe_zwjvmydk" id="iframe_zwjvmydk" style="display:none;" onload="if(typeof sent_zwjvmydk!='undefined'){window.location='';}"></iframe>
      <form
        action="https://docs.google.com/forms/d/18FkwsFFU8eEgxZiB_3aWhHKxZY7hNrc1qN0jxUjOAhk/formResponse"
        method="POST"
        target="iframe_zwjvmydk"
        onsubmit="sent_zwjvmydk=true">
        <input type="email"
               name="entry.80944867"
               placeholder="Sähköpostiosoite"
               required>
        <input type="submit" value="Osallistu">
      </form>
    </div>
    <p>
      <span class="hilight">Kerro tarina!</span> Kertokaa myös teon tarina kuvakerronnan voimin niin julkaisemme ne täällä:
      <a class="content" href="mailto:info@tehdaansetanaan.fi?Subject=Tehdään se tänään" target="mailto">info@tehdaansetanaan.fi</a>
    </p>
    <p>
      Puhutaan yhdessä! Yhdessä somettaminen kaikissa kanavissa on luvallista ja erittäin suotavaa. Mikä on tulevaisuudessa
      yritysten rooli yhteiskunnallisessa auttamisessa ja miten oman ydintoiminta tai auttamisen into voitaisiin hyödyntää tehokkaasti?
    </p>
    <p>
      <span class="hilight">Haasta kumppanisi!</span> Voit haastaa kumppanisi tai muuten tuntemasi yrityksen itse ohjaamalla heidät luoksemme ja kun teet hyvää,
      autamme myös julkisesti kumppanisi haastamisessa.
    </p>
    <p>
      <span class="hilight">Kirjoita meille!</span> Voit myös auttaa tämän haasteen läpiviennissä ja toteuttamisessa vapaaehtoisesti.  Kirjoita meille ja kerro
      miten voisit auttaa itse haastetta ja sen onnistumista: <a href="mailto:info@tehdaansetanaan.fi?Subject=Tehdään se tänään" target="mailto">info@tehdaansetanaan.fi</a>
    </p>
    <p>
      Teot voivat olla isoja tai pieniä ja ne voivat kohdistua mihin tahansa kohderyhmään tai kohteeseen. Haaste on myös täysin
      toimialariippumaton ja tehokkainta on hyödyntää omaa ydinosaamistaan, valjastamalla se tekemään hyvää.
    </p>
    <p>
      Olemme saaneet jo pienen ydinjoukon innostumaan aiheesta ja digitaalisen toteutuksen edetessä lisäämme heidät kumppanilistaan.
      Ilmoittaudu kumppaniksi, niin lisäämme myös Sinun yrityksesi listalle.
    </p>
    <p>
      Haaste itsessään ei kerää rahaa, eikä tarjoa loppuhuipennusta auttajille. Pidetään auttaminen keskiössä, innostutaan siitä
      ja hymyillään kun avuntarvitsija kohtaa auttajan, Sinut!
    </p>
  </div>

  {{ if (gt (where .Site.Pages "Section" "partners" | len) 0) }}
    <div class="partners">
      <h2>Mukana auttamassa</h2>

      {{ range where .Data.Pages "Section" "partners" }}
        <div class="partner">
          <a href="{{ .Params.homepage }}" target="_blank">
            <img src="{{ .Params.logo }}">
          </a>
        </div>
      {{ end }}
    </div>
  {{ end }}

  <div class="footer">
    <p>Tehdään se tänään
      <a href="https://www.facebook.com/TehdaanSeTanaan"><i class="fa fa-facebook social"></i></a>
      <a href="https://twitter.com/TehdaanSeTanaan"><i class="fa fa-twitter social"></i></a>
    </p>
    <p>#TehdäänSeTänään #PieniaTekoja</p>
    <p class="poweredby">Powered by <a href="https://solinor.fi">Solinor</a></p>
  </div>

</body>
</html>
