body {
    color: #EEEEEE;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: xx-large;

    background-color: #42B9FE;
    align: center;
    margin: 2cm 1cm 1cm 1cm;
    font-weight: 300;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
}

.plain {
    text-decoration: none;
}

div.header {
    margin-bottom: 1cm;
}

.header h1 {
    font-size: 250%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.header p {
    margin-top: 0px;
    padding-top: 0 px;
    font-size: 175%;
}

.content p {
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    width: 100%;
}

div.footer {
    margin-top: 2cm;
}

div.focus-input {
    margin-right: 0cm;
    margin-left: 0cm;
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
    align: center;
}

.focus-input .thanks {
    visibility: hidden;
}

.footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=email] {
    width: 70%;
    max-width: 20em;
    text-align: center;
    font-size: smaller;
    font-weight: 300;
}

input[type=submit] {
    border: 1px solid tomato;
    color: #FFFFFF;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit]:hover {
    border: 1px solid red;
}

.fa-huge {
    font-size: 10em;
}

.poweredby {
    font-size: 50%;
    margin: 1cm 1cm 1cm 1cm;
}

.poweredby {
    font-size: 50%;
    margin: 1cm 1cm 1cm 1cm;
}

.poweredby a {
    align: bottom;
    color: #FEFEFE;
    text-decoration: none;
}

.social {
    color: #EEEEEE
}
.social:hover {
    color: #FFFFFF
}
div.summary {
    width: 100%;
    align: center;
    margin: 2cm 2cm 2cm 2cm;
}
.summary img {
    width: 100%;
    align: center;
}
.carousel {
    position: relative;
    align: center;
}
.hilight {
    color: #FFFFFF;
    font-weight: 400;
}

div.partners {
    margin: 2cm auto;
    align-items: center;
    max-width: 1200px;
}

div.partner {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 25px 0px;
    vertical-align: middle;
}

.partner img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

div.end-partners {
    clear: none;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   div.partner {
      width: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   div.partner {
      width: 45%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   div.partner {
      width: 33%;
   }
}
@media only screen and (min-width : 1051px) {
   /* Small desktop / ipad view: 3 tiles */
   div.partner {
      width: 23%;
   }
}

div.carousel {
    max-width: 1000px;
    margin: auto;
}

.carousel > div {
    border-style: solid;
    border-width: 10px;
}

.carousel > div img {
    width: 100%;
    height: auto;
}

.carousel div.deed {
    position: relative;
}

.carousel .deed a {
    text-decoration: none;
    color: #FEFEFE;
}

.carousel .deed div.company {
    position: absolute;
    top: 10px;
    left: 5px;
    font-weight: 700;
    font-size: 180%;
    text-transform: uppercase;
}

.carousel .deed div.summary {
    position: absolute;
    bottom: -70px;
    right: -70px;
    max-width: 70%;
    max-height: 25%;
}

.carousel .deed div.summary p {
    margin-top: 0px;
    text-align: left;
}

.clip {
    overflow: hidden;
    text-overflow: ellipsis;
}

.on-image {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.header .homelink .title {
    font-weight: 700;
    font-size: 200%;
    text-transform: uppercase;
}

.header .deed .company {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: 700;
}
.header .deed .title {
    font-size: 200%;
    font-weight: 400;
    max-width: 1000px;
    margin: auto;
}