body {
    color: #FEFEFE;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: xx-large;

    background-color: #42B9FE;
    margin: 2cm 3cm 2cm 3cm;
}

div.header {
    margin-bottom: 1cm;
}

.header h1 {
    font-size: 250%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.header p {
    margin-top: 0px;
    padding-top: 0 px;
    font-size: 175%;
}

p {
    font-weight: 200;
}

div.footer {
    margin-top: 2cm;
}

div.focus-input {
    margin-right: 0cm;
    margin-left: 0cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    align: center;
}

.focus-input .thanks {
    visibility: hidden;
}

.footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=email] {
    width: 70%;
    max-width: 20em;
    text-align: center;
    font-size: smaller;
    font-weight: 200;
}

input[type=submit] {
    border: 1px solid tomato;
    color: #FFFFFF;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit]:hover {
    border: 1px solid red;
}

.fa-huge {
    font-size: 10em;
}

.poweredby {
    font-size: 50%;
    margin: 1cm 1cm 1cm 1cm;
    text-decoration: none;
}

.poweredby a {
    align: bottom;
    color: #FEFEFE;
    text-decoration: none;
}

.social {
    color: #EEEEEE
}
.social:hover {
    color: #FFFFFF
}
div.summary {
    width: 100%;
    align: center;
    margin: 2cm 2cm 2cm 2cm;
}
.summary img {
    width: 100%;
    align: center;
}
.carousel {
    position: relative;
    align: center;
}